
body, html {
  height: 100%;
}

.test {
  background: svg(#{'
    <svg xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink">

      <polygon points="50,5   100,5  125,30  125,80 100,105
        50,105  25,80  25, 30"
        style="stroke:#660000; fill:#cc3333; stroke-width: 3;"/>
    </svg>
  '});
}


.test2 {
  @include svg('polygon', (
    points: "50,5 100,5 125,30 125,80 100,105 50,105 25,80 25, 30",
    style: (
      stroke: #600,
      fill: #c33,
      stroke-width: 3
    )
  ));
}